html   
    head
        title Buku Saku
    body
        form(method="POST" action= url enctype="multipart/form-data")
            div
                label(for="password") = Password
                br
                input(type="password" name="password" placeholder="Insert new password here")
            
            div
                button(type="submit")= "Submit"